# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build Output
# =========================
dist/
dist-ssr/

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example
*.local

# =========================
# IDE
# =========================
.idea/
*.iml

.vscode/*
!.vscode/extensions.json

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Coverage Reports
# =========================
coverage/

# =========================
# Temporary Files
# =========================
tmp/
temp/

# =========================
# Miscellaneous
# =========================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?