.main-layout {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #eaeded;
}

.main-layout__content {
    flex: 1;

    display: flex;
    flex-direction: column;
}